@model IEnumerable<HouseRental.Common.HouseDto>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-4">
            <div class="card">
                <img class="card-img-top img-fluid card-img-cover" src="@item.ImageUrl" alt="Card image caption"/>
                <div class="card-body">
                    <h5 class="card-title">@item.HouseType</h5>
                    <p class="card-text">
                        Rent this @item.HouseType.ToString().ToLower() for only @item.BaseDayFee$ per day
                    </p>
                    <a class="btn btn-primary" asp-controller="House" asp-action="Details" asp-route-id="@item.Id">Book now</a>
                </div>
            </div>
            <br/>
        </div>
    }
</div>
